automation/n8n/viral_spike_alert.json
{
  "name": "Viral Video Spike Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */3 * * *"
            }
          ]
        }
      },
      "name": "Every 3 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "command": "python scripts/run_agent.py --agent viral_video_agent --query \"trending topics\" --market KR --platform youtube,tiktok --window 24h --emit json --notify n8n"
      },
      "name": "Run Viral Agent",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "viral-spike",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook (Receive Results)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [650, 300],
      "webhookId": "viral-spike-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.metrics.spike_detected }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Spike Detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "channel": "#viral-alerts",
        "text": "=🔥 *Viral Spike Detected!* ({{ $now.format('YYYY-MM-DD HH:mm') }})\n\n*Platform*: {{ $json.platforms.join(', ') }}\n*Spikes Detected*: {{ $json.metrics.spike_detected }}\n*Avg Growth Rate*: {{ $json.metrics.avg_growth_rate }}%\n\n*Top Viral Video*:\n📹 {{ $json.top_video.title }}\n👁️ Views: {{ $json.top_video.views }} (+{{ $json.top_video.growth_rate }}%)\n🔗 [Watch Now]({{ $json.top_video.url }})\n\n*Success Factors*:\n• Thumbnail: {{ $json.top_video.success_factors.thumbnail }}\n• Title Strategy: {{ $json.top_video.success_factors.title }}\n• Timing: {{ $json.top_video.success_factors.timing }}\n\n[View Full Report]({{ $json.report_url }})",
        "attachments": [],
        "otherOptions": {}
      },
      "name": "Alert Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1050, 250]
    },
    {
      "parameters": {
        "to": "marketing@company.com",
        "subject": "=🔥 Viral Spike Alert - {{ $json.top_video.title }}",
        "emailType": "html",
        "message": "=<h2>Viral Spike Detected!</h2>\n<p><strong>Video:</strong> {{ $json.top_video.title }}</p>\n<p><strong>Platform:</strong> {{ $json.top_video.platform }}</p>\n<p><strong>Views:</strong> {{ $json.top_video.views }} (+{{ $json.top_video.growth_rate }}%)</p>\n<p><strong>z-score:</strong> {{ $json.top_video.z_score }}</p>\n\n<h3>Success Factors:</h3>\n<ul>\n<li>Thumbnail: {{ $json.top_video.success_factors.thumbnail }}</li>\n<li>Title: {{ $json.top_video.success_factors.title }}</li>\n<li>Timing: {{ $json.top_video.success_factors.timing }}</li>\n</ul>\n\n<p><a href=\"{{ $json.top_video.url }}\">Watch Video</a></p>\n<p><a href=\"{{ $json.report_url }}\">View Full Report</a></p>",
        "options": {}
      },
      "name": "Email Marketing Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 350]
    },
    {
      "parameters": {
        "operation": "create",
        "issueKey": "TREND",
        "summary": "=New Viral Spike: {{ $json.top_video.title }}",
        "description": "=Viral spike detected on {{ $json.top_video.platform }}\n\nVideo: {{ $json.top_video.url }}\nGrowth Rate: {{ $json.top_video.growth_rate }}%\nz-score: {{ $json.top_video.z_score }}\n\nSuccess Factors:\n- Thumbnail: {{ $json.top_video.success_factors.thumbnail }}\n- Title: {{ $json.top_video.success_factors.title }}\n- Timing: {{ $json.top_video.success_factors.timing }}\n\nFull Report: {{ $json.report_url }}",
        "project": "MARKETING",
        "issueType": "Task",
        "labels": ["viral", "trend", "urgent"],
        "priority": "High"
      },
      "name": "Create Jira Ticket",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [1050, 450]
    },
    {
      "parameters": {},
      "name": "No Action",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1050, 550]
    }
  ],
  "connections": {
    "Every 3 Hours": {
      "main": [
        [
          {
            "node": "Run Viral Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Viral Agent": {
      "main": [
        [
          {
            "node": "Webhook (Receive Results)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Receive Results)": {
      "main": [
        [
          {
            "node": "Spike Detected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spike Detected?": {
      "main": [
        [
          {
            "node": "Alert Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Marketing Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Jira Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1.0.0",
  "meta": {
    "instanceId": "your-n8n-instance-id"
  },
  "tags": [
    "viral",
    "video",
    "alert",
    "automation"
  ],
  "description": "3시간마다 바이럴 비디오를 감지하고, 급상승 신호 발견 시 Slack/Email로 알림하며 Jira 티켓을 자동 생성하는 워크플로우"
}
